.va {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

/***** Sizes START *****/
.va-xs {
  width: .75em !important;
  height: .75em !important;
}

.va-sm {
  width: .875em !important;
  height: .875em !important;
}

.va-md {
  width: 1em !important;
  height: 1em !important;
}

.va-lg {
  width: 1.33em !important;
  height: 1.33em !important;
}

.va-1x {
  width: 1em !important;
  height: 1em !important;
}

.va-2x {
  width: 2em !important;
  height: 2em !important;
}

.va-3x {
  width: 3em !important;
  height: 3em !important;
}

.va-4x {
  width: 4em !important;
  height: 4em !important;
}

.va-5x {
  width: 5em !important;
  height: 5em !important;
}

.va-6x {
  width: 6em !important;
  height: 6em !important;
}

.va-7x {
  width: 7em !important;
  height: 7em !important;
}

.va-8x {
  width: 8em !important;
  height: 8em !important;
}

.va-9x {
  width: 9em !important;
  height: 9em !important;
}

.va-10x {
  width: 10em !important;
  height: 10em !important;
}

.va-z-1 {
  width: 1px !important;
  height: 1px !important;
}

.va-z-2 {
  width: 2px !important;
  height: 2px !important;
}

.va-z-3 {
  width: 3px !important;
  height: 3px !important;
}

.va-z-4 {
  width: 4px !important;
  height: 4px !important;
}

.va-z-5 {
  width: 5px !important;
  height: 5px !important;
}

.va-z-6 {
  width: 6px !important;
  height: 6px !important;
}

.va-z-7 {
  width: 7px !important;
  height: 7px !important;
}

.va-z-8 {
  width: 8px !important;
  height: 8px !important;
}

.va-z-9 {
  width: 9px !important;
  height: 9px !important;
}

.va-z-10 {
  width: 10px !important;
  height: 10px !important;
}

.va-z-13 {
  width: 13px !important;
  height: 13px !important;
}

.va-z-15 {
  width: 15px !important;
  height: 15px !important;
}

.va-z-17 {
  width: 17px !important;
  height: 17px !important;
}

.va-z-20 {
  width: 20px !important;
  height: 20px !important;
}

.va-z-24 {
  width: 24px !important;
  height: 24px !important;
}

.va-z-25 {
  width: 25px !important;
  height: 25px !important;
}

.va-z-30 {
  width: 30px !important;
  height: 30px !important;
}

.va-z-40 {
  width: 40px !important;
  height: 40px !important;
}

.va-z-50 {
  width: 50px !important;
  height: 50px !important;
}

.va-z-70 {
  width: 70px !important;
  height: 70px !important;
}
.va-z-85 {
  width: 85px !important;
  height: 85px !important;
}

.iconstats{
  width: 30px !important;
  height: 30px !important;
  margin: 0 0 8px 0;
}

/***** Sizes END *****/

/***** Icons START *****/
.va-france {
  background-image: url(../img/emoji/france.png);
}
.va-france {
  background-image: url(../img/emoji/france.png);
}
.va-france {
  background-image: url(../img/emoji/france.png);
}
.va-france {
  background-image: url(../img/emoji/france.png);
}
.va-france {
  background-image: url(../img/emoji/france.png);
}

/***** Icons END *****/
